{{set . "title" "Ingreso"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:blue">
  <div class="container">
    <div class="row">
      <div class="text-info">
        <h1>Bienvenido {{.user}} a Platzi Chat</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      <div id="singin">
        <form action="{{url "App.Platzi" }}">
          {{template "flash.html" .}}
          <p>
            <label for="user">Elige el nick</label>
            <input type="text" name="user" id="user">
          </p>
          <p>
            <label for="pass">Elige el nick</label>
            <input type="text" name="pass" id="pass">
          </p>
          <input type="submit" id="enviar" value="Ingresar">
        </form>
      </div>
    </div>
  </div>
</div>

{{template "footer.html" .}}
